<div class="container">
  <h1>MyDemy</h1>
</div>

<mat-card>
  <h2> Hedefimiz sensin hadi sende katıl</h2>
  <p>
    Merhaba! Eğitim dünyası artık dijital çağa ayak uyduruyor ve size, yeni nesil online eğitim platformumuzla birlikte benzersiz bir deneyim sunuyoruz. Sıradan ders kitaplarından ve geleneksel sınıflardan sıkıldıysanız, adım atmanın tam zamanı!

    Biz, online eğitimde sınırları zorlayan bir ekibiz. Sizlere, en iyi öğrenme deneyimini sunmak için son teknolojileri ve yenilikçi yaklaşımları bir araya getirdik. Sıkıcı ve monoton dersleri geride bırakın; interaktif içerikler, canlı dersler ve etkileşimli egzersizlerle dolu bir dünyaya adım atın.
    
    Hayal gücünüzü, bilginizi ve yeteneklerinizi geliştirmek için çeşitli konuları kapsayan geniş bir müfredat sunuyoruz. Sanat, bilim, teknoloji, mühendislik, matematik, tarih, dil ve daha fazlası... Sizin merakınıza ve ilgi alanlarınıza uygun bir ders bulacağınıza eminim.
    
    </p>
</mat-card>

